{% load static %}

{% extends 'home.html'%}

{% block body %}
<!DOCTYPE html>

<html>
    <head>
        <title>About US</title>
    </head>

    <body style="font-family:Arial, sans-serif; margin:0; background-color: #f9f9f9; color: #333;" >
        <header style="background-color: #4CAF50; color: white; text-align: center; padding:20px;">

            <h1>About {{rest_name}}</h1>
        </header>

        <div style="padding: 20px; max-width: 800px; margin: auto; text-align: center;">
            <img src="{% static 'home/restaurant.jpg' %}" width="50px"  height="50px">
            <p> Welocome to {{ rest_name }}! we are dedicated to serving delicious meals made from the freshest ingredints
                Our mission is to provide a warm and inviting atmosphere where friends and family can enjoy quality food togather,
            </p>
        </div>

        
            
    </body>
</html>

{% end block %}