{% load static %}

{% extends 'home.html'%}

{% block body %}

<link rel="stylesheet" href="{% static 'home/about.css' %}">

        <header class="about-header">

            <h1>About {{rest_name}}</h1>
        </header>

        <div class="about-container">
            {% if logo %}

               <img src="{{ logo.url }}" alt="{{ rest_name }} Logo" class="about-logo">

            {% else %}
               <img src="{% static 'home/restaurant.jpg' %}" alt="Restaurant" class="about-logo">

            {% endif %}
            <p class="about-text"> 
                Welocome to <strong>{{ rest_name }}</strong>! we are dedicated to serving delicious meals made from the freshest ingredints
                Our mission is to provide a warm and inviting atmosphere where friends and family can enjoy quality food togather,
            </p>
        </div>

        
            
   

{% end block %}