<!DOCTYPE html>
<html>
    <head>
        <title>
            {{rest_name}}
        </title>
        <link rel="stylesheet" href="{% static 'home/home.css' %}">
    </head>

    <body style="font-family:Arial, sans-serif; magin:0; background-color: #f9f9f9; color:#3333;" >
        <header >
            <img src="{%  static 'home/rest_logo.jpeg'%} alt="{{ rest_name }} Logo" class="logo">
            <h1>welcome to {{rest_name}}</h1>
            <h2>Phone : +91{{phone}}</h2>
        </header>

        <nav>
            <a href="/about">HOME</a>
            <a href="">Service</a>
            <a href="">About</a>
            <a href="/contact_us">Contact</a>
            <a href="/reservation">Reservation</a>
        </nav>

       


        {% block body %}

        {% end block %}

        <div class="container">
            <h2>Welcome</h2>
            <p>We're delighted to Serve you at {{ rest_name }} - where great food meets great People.</p>
        </div>

        <footer>
            &copy; {{ current_year }} My Website.All right reserved. | Contact : +91{{ phone }}
        </footer>
    </body>
</html>