<!DOCTYPE html>
<html>
    <head>
        <title>
            HOME PAGE
        </title>
        <link href="">
    </head>

    <body>
        <header>
            <h1>welcome to Restaurant management app</h1>
        </header>

        <nav>
            <a href="">HOME</a>
            <a href="">Service</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </nav>

        <div class="container">
            <h2>About</h2>
            <p>welcome to Restaurant management app</p>
        </div>

        <footer>
            &copy; 2025 My Website.All right reserved
        </footer>
    </body>
</html>