{% extends "base.html "%}

{% block breadcrumbs %}

   <a href="/home">Home</a>
{% endblock %}

{% block body %}
    <head>
        <title>
            {{rest_name}}
        </title>
        <link rel="stylesheet" href="{% static 'home/home.css' %}">
    </head>


        <section class="hours-section">
            <h2>Our Opening Hours</h2>
            <ul>
                {% for day, hours in opening_hours.items %}
                    <li><strong>{{ day }}:</strong>{{ hours }}</li>

                {% endfor %}
            </ul>
        </section>

        <div class="phone-section">
            <h2>Call Us Anytime</h2>

            <p class="phone-numer">+91{{ phone }}</p>

        </div>

        <section class="menu-section">
            <h2>Our Menu</h2>
            <div class="menu-grid">
                {% for item in menu_items %}
                <div class="menu-card">
                    {% if item.image %}
                        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="menu-img">
                    {% endif %}
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.description }}</p>
                    <p><strong>{{ item.price }}</strong></p>
                </div>
                {% empty %}
                   <p>No menu items available yet.</p>
                {% endfor %}
            </div>
            <a href="{% url 'menu-lis' %}"class="see-more">See Full Menu</a>
        </section>

       


      

        <div class="container">
            <h2>Welcome</h2>
            <p>We're delighted to Serve you at {{ rest_name }} - where great food meets great People.</p>
        </div>

        <section class="location-section">
            <h2>Visit Us</h2>
            <div class="address-details">
                <p><strong>{{ rest_name }}</strong></p>
                <!-- <p>123 MG Road, Near City Mall</p>
                <p>Kochi, Kerala - 682001</p> -->
                <p>{{ p }}</p>
                <p><strong>Phone:</strong> +91{{ Phone }}</p>
                <p><strong>Email:</strong>{{ email }}</p>
            </div>

            <div class="map-container">
                <iframe
                     src="https://www.google.com/maps/embed?pb = map_link"
                     allowfullscreen=""
                     loading = "lazy"
                     referrerpolicy="no-referrer-when-dowgrade">
                </iframe>
            </div>

        </section>


{% endblock %}