body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}

header{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}

nav{
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a{
   
    color: wheat;
    text-decoration: none;
    margin: 0 10px;
    
}

nav a:hover{
    text-decoration: underline;
}

.container {
    padding: 20px;
    text-align: center;
}


footer{
    background-color: #4CAF50;
    color: wheat;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}