body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
    padding-bottom: 60px;
    line-height:1.6;
}

header{
    background-color: linear-gradient(to right, #43cea2, #185a9d);
    color: white;
    text-align: center;
    padding: 30px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header h1{
    margin-top: 10px;
    font-size: 2em;
}

header h2{
    margin-top: 5px;
    font-weight: normal;
    font-size: 1.2em;
}

.logo{
    max-width: 150px;
    height: auto;
    display: black;
    margin: 0 auto 15px auto;
}

nav{
    background-color: #222;
    padding: 12px 0;
    text-align: center;
    
}

nav a{
   
    color: #f9f9f9;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    font-size: 1rem;
    transition:  0.3s;
    position: relative;
    padding: 8px;
    
}

nav a:hover{
    text-decoration: underline;
    color: #ffffff;
}

nav a::after{
    content: '';
    display: black;
    width: 0;
    height: 2px;
    background: #ffd700;
    transition: width 0.3s;
    margin: auto;

}

nav a:hover::after{
    width:100%;
}

.container {

    max-width: 800px;
    margin: 40px  auto;
    background-color: #fff;
    padding: 40px  30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
   
}

.container h2{
    margin-bottom: 20px;
    font-size: 2em;
    color: #4CAF50;
}
.container P{
    font-size: 1.1em;
}

.location-section{
    padding:20px;
    background-color: #f1f1f1;
    margin-top: 20px;
    border-radius: 8px;
}

.address-details P {
    margin: 5px 0;
    font-size: 1.1em;
    color: #333;

}

.map-container {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 15px;

}

.map-container iframe {
    width:100%;
    height: 100%;
    border: 0;
}



footer{
    background-color: #4CAF50;
    color: #fff8dc;
    text-align: center;
    padding: 15px 10px;
    margin-top: 60px;
    font-size: 0.95em;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
   
}